language: go
go:
  - 1.13.x
matrix:
  include:
    - os: linux
      env: MAKE=make
    - os: osx
      osx_image: xcode11.3
      env: MAKE=make
    - os: windows
      env: MAKE=mingw32-make
cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod
addons:
  apt:
    packages:
      # install 7z on Linux so both the Linux and Windows build can make the zip file the same way
      - p7zip-full
  homebrew:
    packages:
      # install modern bash and coreutils on macOS so that version.sh script works correctly
      - bash
      - coreutils
    update: true
before_install:
  # install mercurial on Windows as some Go dependencies need it
  - if [[ $TRAVIS_OS_NAME == windows ]]; then choco install -y hg; fi
install:
  - $MAKE depend
script:
  - $MAKE test
  - $MAKE build
  # QnB upload user (rightscale-binaries-upload-governance)
  - export AWS_ACCESS_KEY_ID=AKIAIX27XNPUMQ25GSEQ
  - export AWS_SECRET_ACCESS_KEY=${RSBIN_KEY}
  - "[[ -z $AWS_SECRET_ACCESS_KEY ]] || $MAKE upload"
